*{
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 40em;
    display: flex;
    
}
.container{
    height: 100%;

}
.container:nth-child(1){
    background: url(img/bg.jpg);
    background-position: center;
    background-size: contain;
    width: 40%;
    height: 100%;
    padding: 0;
}
.floating{
    position: absolute;
    top: 25%;
    width: inherit;
    background: #EEEEEE1d;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.floating h1{
    text-transform: uppercase;
    color: #fff;

}
.container:nth-child(2){
    width: 60%;
    background: #EEEEEE;
    padding: 100px 40px 70px 40px;
}
.text{
    width: 60%;
    margin-bottom: 20px;
    font-weight: bold;
}
.inner{
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.6em;
    margin-bottom: 20px;
}

.inner .inputs{
    display: flex;
    gap: 1em;

}
input{
    padding: 5px 5px 5px 12px;
    border-radius: 15px;
    border: 1px solid #000000;

}
input:focus{
    outline: none;
    border: 1px solid green;
}
input:invalid{
    border: 1px solid red;
}
button{
    padding: 7px 20px 7px 20px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
    background:#000000;
    color: #fff;
    
}
button:hover{
    background-color: #0ebd25;
    cursor: pointer;
}